* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
   /*adding maximun height to a website*/
   background: linear-gradient(to right top, #65dfc9, #6cdbeb);
   /*adding background color an mixing colour to create a gradient effect and we are going diagonally that is why it
   is given (to right top)*/

   /*------the main tag has a content which is a glass section which I need it on centre*/
   display: flex;
   align-items: center;
   justify-content: center;
}

.glass {
    min-height: 80vh;
    background: white;
    width: 60%;
    /*the glass is taking 80 view port of the site and its given 60% width*/

    /*--------Now at this point glass section doest not look like a glass so now the MAGIC point comes---*/
    /*----Adding background with rgba because rgba congtrol the opacity of the colour--*/

    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    /*---mixing two colour and creating a gradient and controlling the opacity by 0.7 and 0.3 and 70% of it gives a glass effect*/

    border-radius: 2rem;
    /*2rem and 20px are same*/

}