* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
   /*adding maximun height to a website*/
   background: linear-gradient(to right top, #65dfc9, #6cdbeb);
   /*adding background color an mixing colour to create a gradient effect and we are going diagonally that is why it
   is given (to right top)*/

   /*------the main tag has a content which is a glass section which I need it on centre*/
   display: flex;
   align-items: center;
   justify-content: center;
}

.glass {
    min-height: 80vh;
    background: white;
    width: 60%;
    /*the glass is taking 80 view port of the site and its given 60% width*/

    /*--------Now at this point glass section doest not look like a glass so now the MAGIC point comes---*/
    /*----Adding background with rgba because rgba congtrol the opacity of the colour--*/

    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    /*---mixing two colour and creating a gradient and controlling the opacity by 0.7 and 0.3 and 70% of it gives a glass effect*/

    border-radius: 2rem;
    /*2rem and 20px are same*/

    z-index: 2;
    /*z-index is 2 given to push the circle into backward of the glass. Higher the index number , highly it push
    forward. So lower the index number if want to push circle on the back. The default is 1*/
    backdrop-filter: blur(2rem);

    /*to add a blur effect to the back side of it*/

}

.circle1, .circle2{

    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    /*---mixing two colour and creating a gradient and controlling the opacity by 0.9 and 0.1*/

    position: absolute;
    /*position is absolute that means i can move this circle anywhere I can*/

     /*top: 5%;*/
     /*5% of the top portion of the screen*/
     /*left: 10%;*/
     /*going to pust the circle 10% to the left side*/
     height: 12rem;
     width: 12rem;
     /*height and width have to put same because if height and width is different then the shape of it after 
     putting border radius does not look round or circle*/
     border-radius: 50%;
     }

     /*--------Now the circle one and two are present in same circle . But i want to show the two circles separetly.
     so I have to code separetly to show two circles separetly.---*/

.circle1 {
top: 5%;
right: 15%;
/*Now I want it to the back side of the main menu section because it is showing now on the upward section
of main menu*/


}

.circle2 {
    bottom: 5%;
    left: 10%;


}